<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Cancion</title>
</head>
<body>
        <h1>Crear Canción</h1>

        <div class="errores">
            <ul>

            </ul>
        </div>
    <form action="/canciones/crear" method="post" class="formulario">
        <div>
            <label for="">Titulo</label>
            <input type="text" name="titulo" class="titulo">
        </div>
        <div>
            <label for="">Compositor</label>
            <input type="text" name="compositor" class="compositor">
        </div>
        <div>
            <label for="">Genero</label>
            <select name="genero" class="genero">
                <% for (let i = 0; i < generos.length; i++ ) { %>
                <option value="<%=generos[i].id%>">
                    <%=generos[i].nombre%>
                </option>
                <% } %>
            </select>
        </div>
        <button type="submit">Crear</button>
    </form>
    <script src="/js/js-front.js"></script>
</html>