<html>
    <head>
        <title>Iniciar Sesión</title>
    </head>
    <body>
        <%- include('partials/header.ejs') %>
        <% if (typeof errors != 'undefined') { %>
            <p style="color: red">ERROR</p>
            <ul>
                <%for (let i = 0; i < errors.length; i++) {%>
                    <li>
                        <%=errors[i].msg%>
                    </li>
                    <%}%>
            </ul>
            <%}%>

        <form method="post" action="/users/login">
            <label for="">Email</label>
            <input type="email" name="email">
            <%if (locals.errors && errors.email) { %>
                <%= errors.email.msg %>
            <% } %>
            <br> <label for="">Password</label>
            <input type="password" name="password"> <br>
            <input type="submit" value="Login">
            <input type="checkbox" name="rememberUser"> Recordar Usuario
        </form>
    </body>
</html>