*{
    box-sizing: border-box;
}
body{
    text-align: center;
}
h2{
    color: green;
}
img{
    width: 200px;
    height: 200px;
    border: black 3px solid;
}
.par{
    border: blue 1px solid
}
.impar{
    border: yellow 1px solid
}


.tituloDestacado{ 
    color: crimson;
    font-size: 50px;
    border: solid 1px blue;
    
}

 
